<div class="container">
  <h1 class="title is-5 has-text-white">Usuarios</h1>
<hr>
<table class="table">
<thead>
    <tr>
    <th>Email</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th colspan="3"> Acciones </th>
    </tr>
</thead>

<tbody>
    <% @users.each do |usuario| %>
    <tr>
        <td><%= usuario.email %></td>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.edad %></td>
        <td><%= link_to 'Eliminar cuenta', perfil_path(usuario.id),  method: :delete, alert: '¿Estas seguro?' %></td>
    </tr>
    <% end %>
</tbody>
</table>

<br>
<%= link_to 'Volver al Panel', admin_path, style: "color:white"%>
</div>
