<!DOCTYPE html>
<html>
<head>
  <title>MatchMeat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">

      <% if current_user and current_user.id == params[:id].to_i and Local.find_by('user_id = ?', current_user.id) %>
        <%idlocal = Local.find_by('user_id = ?', current_user.id).id%>
        <p align='right'><%= link_to 'Ver mi local', local_path(idlocal), class: 'button is-danger is-light'%></p>
        

      <% elsif current_user.id == params[:id].to_i %>
        <p align='right'><%= link_to 'Inscribir mi local', new_local_path, class: 'button is-danger is-light' %></p>
      <%end%>

      <% if current_user.id == @user.id %>
        <h1 class="title has-text-centered">Mi Perfil</h1>
      <% else %>
        <h1 class="title has-text-centered">Mi perfil</h1> 
      <% end %>

    </div>
  </div>
</section>

<div class="columns">
  <div class="column">
    <div class="box" style="color: is-danger;">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p><center>
              <strong>Nombre:</strong>
              <%= @user.nombre %>            
            </center></p>

            <p><center>
              <strong>Email:</strong>
              <%= @user.email %>
            </center></p>

            <p><center>
              <strong>Descripcion:</strong>
              <%= @user.descripcion %>
            </center></p>

            <p><center>
              <strong>Edad:</strong>
              <%= @user.edad %>
            </center></p>

            <p><center>
              <strong>Telefono:</strong>
              <%= @user.telefono %>
            </center></p>

            <p><center>
              <strong>Comuna:</strong>
              <%= @commune.nombre%>
            </center></p>

            <% if current_user.id == @user.id %>
              <p><center>
                <strong>Todos los Gustos:</strong>
                <br>
                <br>
                <%= form_with(model: @interest_all, url: perfil_edit_interest_path(@user.id), method: :patch) do |form| %>
                  <div class="field">
                    <div class="control">
                      <div class="select is-fullwidth is-danger">
                        <%= form.select(:id_interest, Interest.all.collect {|c| [c.nombre, c.id]}) %>
                      </div>
                    </div>
                  </div>
                  
                  <div class="button is-danger" value="Guardar interes">
                    <%= form.submit "Guardar gusto", class: "button is-danger"%>
                  </div>
                <% end %>

                <br>
                
                <%if not @interests_user.nil?%>

                  <strong>Mis Gustos:</strong>
                  <br>
                  <br>
                  <div class="field is-grouped is-grouped-multiline">    
                    <% @interests_user.each do |interest| %>
                      <div class="control">
                        <div class="tags has-addons">
                          <a class="tag is-danger"><%= interest.nombre %></a>
                          <a href="<%=perfil_delete_interest_path(@user.id, interest.id)%>" class="tag is-delete"></a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </center></p> 
            <%else%>
              <p><center>
                <strong> Gustos: </strong>
                    <ul>
                      <% @interests_user.each do |interest| %>
                        <li><%= interest.nombre %></li>
                      <% end %>
                    </ul>
              </center></p>
            <% end %>        
          </div>
        </div>
      </article>
    </div>

    <% if current_user.id == @user.id %>
      <%= link_to 'Editar perfil', perfil_edit_path(@user.id), class: 'button is-link is-inverted' %>
      <%= link_to 'Eliminar cuenta', perfil_path(@user.id), class: 'button is-danger is-inverted',  method: :delete, alert: '¿Estas seguro?' %>

    <% end %>
  </div>
  <% if current_user.id == params[:id].to_i%>
    <div class="column">
      <div class="box" style="color: is-danger;">
        <div class="content">
          <h2><center> Mis Citas </center></h2>
          <table class="table">
            <thead>
              <tr>
                <td> Local  </td>
                <td> Estado </td>
                <td> Acción </td>
              </tr>
            </thead>
            <tbody>
              <% @pending_valuations.each do |valuation|%>
              <tr>
                <td> <%= valuation.local.nombre %> </td>
                <td> Cita exitosa </td>
                <td> <%= link_to 'Dejar valoración', new_local_comentario_path(valuation.local.id, valuation_id: valuation.id)%>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if current_user.id == params[:id].to_i%>
<div class="columns">
  <div class="column is-two-fifths">
    <div class="box">
      <div class="content">
      <h1 class="title is-5"> Personas que quieren hacer match contigo:</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Persona</th>
            <th>Aceptar</th>
            <th>Rechazar</th>
          </tr>
        </thead>
        <tbody>
          <% @match_nuevos.each do |match| %>
            <% @persona = User.find(match.solicitante_id) %>
            <tr>
              <td><%=@persona.nombre%></td>
              <td><i class="far fa-heart"></i><%= link_to 'Aceptar', perfil_accept_match_path(@user.id, match.id, aceptar: true), method: :patch%><i class="far fa-heart"></i></td>
              <td><%= link_to 'Rechazar', perfil_accept_match_path(@user.id, match.id, aceptar: false), method: :patch %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="box" style="color: is-danger;">
      <div class="content">
        <h2><center> Mis match </center></h2>
        <table class="table">
          <thead>
            <tr>
              <td> Persona  </td>
              <td> Telefono </td>
              <td> Correo </td>
              <td> Acción </td>
            </tr>
          </thead>
          <tbody>
            <% @match_todos.each do |match|%>
              <% if match.user1_id == @user.id %>
                <% @persona = User.find(match.user2_id) %>
              <% else %>
                <% @persona = User.find(match.user1_id) %>
              <% end %>
            <tr>
              <% unless match.cita_realizada %>
              <td> <%= @persona.nombre %> </td>
              <td> <%= @persona.telefono %></td>
              <td> <%= @persona.email %> </td>
              <td> <%= link_to 'Proponer cita', new_appointment_path(@user.id, match_id: match.id, cita: @persona.nombre), method: :get %> </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>
</body>
</html>

