<section class="hero is-danger">
  <div class="hero-body">
      <h1 class="title has-text-centered">Mi perfil</h1>
      <div class="buttons is-centered">
      <% if @local %>
        <%= link_to 'Ver mi local', local_path(@local.id), class: 'button is-primary is-rounded'%>
      <% else%>
        <%= link_to 'Inscribir mi local', new_local_path, class: 'button is-primary is-rounded' %>
      <%end%>
      <%= link_to 'Editar perfil', perfil_edit_path(@user.id), class: 'button is-link is-rounded' %>
      <%= link_to 'Eliminar cuenta', perfil_path(@user.id), class: 'button is-danger is-light is-rounded',  method: :delete, data: { confirm: "¿Estas seguro? \n 
      Esta acción no es reversible" }%>
  </div>
</section>

<section class="section">
<div class="columns">
  <div class="column">
    <div class="box">
      <h1 class="title has-text-centered">Mis datos</h1>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p><center>
              <strong>Nombre:</strong>
              <%= @user.nombre %>            
            </center></p>

            <p><center>
              <strong>Email:</strong>
              <%= @user.email %>
            </center></p>

            <p><center>
              <strong>Descripcion:</strong>
              <%= @user.descripcion %>
            </center></p>

            <p><center>
              <strong>Edad:</strong>
              <%= @user.edad %>
            </center></p>

            <p><center>
              <strong>Telefono:</strong>
              <%= @user.telefono %>
            </center></p>

            <p><center>
              <strong>Comuna:</strong>
              <%= @commune.nombre%>
            </center></p>

            <p><center>
              <% if not @interests_user.nil?%>
                <strong>Mis Gustos:</strong>
                <br>
                <br>
                <div class="field is-grouped is-grouped-multiline">    
                  <% @interests_user.each do |interest| %>
                    <div class="control">
                      <div class="tags has-addons">
                        <a class="tag is-danger"><%= interest.nombre %></a>
                        <a href="<%=perfil_delete_interest_path(@user.id, interest.id)%>" class="tag is-delete"></a>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <hr>
              <strong>Agregar gusto:</strong>
              <br>
              <br>
              <%= form_with(model: @interests_user, url: perfil_edit_interest_path(@user.id), method: :patch) do |form| %>
                <div class="field">
                  <div class="control">
                    <div class="select is-fullwidth is-danger">
                      <select name='id_interest'>
                        <% @interests_not_user.each do |interest|%>
                          <option value="<%= interest.id %>"><%= interest.nombre %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="button is-danger" value="Guardar interes">
                  <%= form.submit "Guardar gusto", class: "button is-danger"%>
                </div>
              <% end %>
              <br>
              

            </center></p>     
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="column">
    
    <div class="box" style="color: is-danger;">
      <div class="content">
        <h2><center> Mis match </center></h2>
        <table class="table">
          <thead>
            <tr>
              <th> Persona  </th>
              <th> Telefono </th>
              <th> Correo </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody>
            <% @match_todos.each do |match|%>
              <% if match.user1_id == @user.id %>
                <% @persona = User.find(match.user2_id) %>
              <% else %>
                <% @persona = User.find(match.user1_id) %>
              <% end %>
            <tr>
              <% unless match.cita_realizada %>
              <td> <%= @persona.nombre %> </td>
              <td> <%= @persona.telefono %></td>
              <td> <%= @persona.email %> </td>
              <td> <%= link_to 'Proponer cita', new_appointment_path(@user.id, match_id: match.id, cita: @persona.nombre), method: :get, class: "button is-primary"%> </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="box" style="color: is-danger;">
      <div class="content">
        <h2><center> Agenda de citas </center></h2>
        <table class="table">
          <thead>
            <tr>
              <th> Persona  </th>
              <th> Lugar </th>
              <th> Fecha </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody>
            <% @match_todos.each do |match|%>
              <% @appointments = match.appointments.where('solicitante_id != ?', @user.id) %>
              <% if match.user1_id == @user.id %>
                <% @persona = User.find(match.user2_id) %>
              <% else %>
                <% @persona = User.find(match.user1_id) %>
              <% end %>
              <% @appointments.each do |appointment|%>
                <% @lugar = Local.find(appointment.local_id) %>
              <tr>
                <% unless match.cita_realizada %>
                <td> <%= @persona.nombre %> </td>
                <td> <%= @lugar.nombre %></td>
                <td> <%= appointment.fecha.strftime("%d-%m-%Y") %> </td>
                <td> <%= link_to 'Aceptar', accept_appointment_path(@user.id, appointment.id, accept: true), method: :put, class: "button is-success"%> /
                  <%= link_to 'Rechazar', accept_appointment_path(@user.id, appointment.id, accept: false), method: :put , class: "button is-danger"%></td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section">
<div class="columns">
  <div class="column">
    <div class="box">
      <div class="content">
      <h1 class="title has-text-centered"> Solicitudes de match</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Persona</th>
            <th>Aceptar</th>
            <th>Rechazar</th>
          </tr>
        </thead>
        <tbody>
          <% @match_nuevos.each do |match| %>
            <% @persona = User.find(match.solicitante_id) %>
            <tr>
              <td><%=@persona.nombre%></td>
              <td><%= link_to 'Aceptar', perfil_accept_match_path(@user.id, match.id, aceptar: true), method: :patch, class: "button is-success"%></td>
              <td><%= link_to 'Rechazar', perfil_accept_match_path(@user.id, match.id, aceptar: false), method: :patch , class: "button is-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <div class="content">
        <h1 class="title has-text-centered"> Valoraciones pendientes</h1>
        <table class="table">
          <thead>
            <tr>
              <th> Afortunad@ </th>
              <th> Local  </th>
              <th> Fecha </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody>
            <% @pending_valuations.each do |valuation|%>
            <tr>
              <td> <%= valuation.nombre %></td>
              <td> <%= valuation.local.nombre %></td>
              <td> <%= valuation.fecha %></td>
              <td> <%= link_to 'Dejar valoración', new_local_comentario_path(valuation.local.id, valuation_id: valuation.id), class: "button is-primary"%>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>