<p id="notice"><%= notice %></p>

<h1>Mi Perfil</h1>

<p>
    <strong>Nombre:</strong>
    <%= @user.nombre %>
</p>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>Descripcion:</strong>
    <%= @user.descripcion %>
</p>

<p>
    <strong>Edad:</strong>
    <%= @user.edad %>
</p>

<p>
    <strong>Telefono:</strong>
    <%= @user.telefono %>
</p>

<%= link_to 'Editar perfil', perfil_edit_path(@user.id) %>
<%= link_to 'Eliminar cuenta', perfil_path(@user.id),  method: :delete, alert: '¿Estas seguro?' %>

