<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">

      <% if current_user and current_user.id == params[:id].to_i and Local.find_by('user_id = ?', current_user.id) %>
        <%idlocal = Local.find_by('user_id = ?', current_user.id).id%>
        <p align='right'><%= link_to 'Ver mi local', local_path(idlocal), class: 'button is-primary is-inverted'%></p>
        

      <% elsif current_user.id == params[:id].to_i %>
        <p align='right'><%= link_to 'Inscribir mi local', locales_new_path, class: 'button is-primary is-inverted' %></p>
      <%end%>

      <% if current_user.id == @user.id %>
        <h1 class="title has-text-centered">Mi Perfil</h1>
      <% else %>
        <h1 class="title has-text-centered">Perfil de <%= @user.nombre %></h1> 
      <% end %>

    </div>
  </div>
</section>

<div class="columns">
  <div class="column">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p><center>
              <strong>Nombre:</strong>
              <%= @user.nombre %>            
            </center></p>

            <p><center>
              <strong>Email:</strong>
              <%= @user.email %>
            </center></p>

            <p><center>
              <strong>Descripcion:</strong>
              <%= @user.descripcion %>
            </center></p>

            <p><center>
              <strong>Edad:</strong>
              <%= @user.edad %>
            </center></p>

            <p><center>
              <strong>Telefono:</strong>
              <%= @user.telefono %>
            </center></p>

            <p><center>
              <strong>Comuna:</strong>
              <%= @commune.nombre%>
            </center></p>

            <p><center>
              <%= form_with(model: @interest_all, url: perfil_edit_interest_path(@user.id), method: :patch) do |form| %>
                <div class="field">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <%= form.select(:id_interest, Interest.all.collect {|c| [c.nombre, c.id]}) %>
                    </div>
                  </div>
                </div>

                <div class="actions">
                  <%= form.submit %>
                </div>
              <% end %>

              <br>
              <br>
              
              <%if not @interests_user.nil?%>
            
                <div class="field is-grouped is-grouped-multiline">    
                  <% @interests_user.each do |interest| %>
                    <div class="control">
                      <div class="tags has-addons">
                        <a class="tag is-link"><%= interest.nombre %></a>
                        <a class="tag is-delete"></a>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </center></p> 
            

          </div>
        </div>
      </article>
    </div>

    <% if current_user.id == @user.id %>
      <%= link_to 'Editar perfil', perfil_edit_path(@user.id) %>
      <%= link_to 'Eliminar cuenta', perfil_path(@user.id),  method: :delete, alert: '¿Estas seguro?' %>

    <% end %>
  </div>
  <div class="column">
  </div>
</div>

