<!DOCTYPE html>
<html>
<head>
  <title>MatchMeat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
    ul#interests li {
      display:inline;
    }
  </style>
</head>

<section class="hero is-danger">
  <div class="hero-body">
      <h1 class="title has-text-centered">Mi perfil</h1>
      <div class="buttons is-centered">
      <% if @local %>
        <%= link_to 'Ver mi local', local_path(@local.id), class: 'button is-primary is-rounded'%>
      <% else%>
        <%= link_to 'Inscribir mi local', new_local_path, class: 'button is-primary is-rounded' %>
      <%end%>
      <%= link_to 'Mis comentarios', perfil_comentarios_path(current_user.id), class: "button is-primary is-rounded is-centered"%>
      <%= link_to 'Editar perfil', perfil_edit_path(@user.id), class: 'button is-link is-rounded' %>
      <%= link_to 'Eliminar cuenta', perfil_path(@user.id), class: 'button is-danger is-light is-rounded', method: :delete, data: { confirm: "¿Estas seguro? \n 
      Esta acción no es reversible" }%>
      </div>
  </div>
</section>

<section class="section">
<div class="columns">
  <div class="column">
    <div class="box">
      <h1 class="title has-text-centered">Mis datos</h1>
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p><center>
              <strong>Nombre:</strong>
              <%= @user.nombre %>            
            </center></p>

            <p><center>
              <strong>Email:</strong>
              <%= @user.email %>
            </center></p>

            <p><center>
              <strong>Descripcion:</strong>
              <%= @user.descripcion %>
            </center></p>

            <p><center>
              <strong>Edad:</strong>
              <%= @user.edad %>
            </center></p>

            <p><center>
              <strong>Telefono:</strong>
              <%= @user.telefono %>
            </center></p>

            <p><center>
              <strong>Comuna:</strong>
              <%= @commune.nombre%>
            </center></p>

            <p><center>
              <strong>Genero:</strong>
              <%= @user.genero %>
            </center></p>

            <p><center>
              <% if not @interests_user.nil?%>
                <strong>Mis Gustos:</strong>
                <br>
                <br>
                <div class="field is-grouped is-grouped-multiline">    
                  <% @interests_user.each do |interest| %>
                    <div class="control">
                      <div class="tags has-addons">
                        <a class="tag is-danger"><%= interest.nombre %></a>
                        <a href="<%=perfil_delete_interest_path(@user.id, interest.id)%>" class="tag is-delete"></a>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <hr>
              <strong>Agregar gusto:</strong>
              <br>
              <br>
              <%= form_with(model: @interests_user, url: perfil_edit_interest_path(@user.id), method: :patch) do |form| %>
                <div class="field">
                  <div class="control">
                    <div class="select is-fullwidth is-danger">
                      <select name='id_interest'>
                        <% @interests_not_user.each do |interest|%>
                          <option value="<%= interest.id %>"><%= interest.nombre %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                
                <div class="button is-danger" value="Guardar interes">
                  <%= form.submit "Guardar gusto", class: "button is-danger"%>
                </div>
              <% end %>
              <br>
              

            </center></p>     
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="column">

    <div class="box">
      <div class="content">
        <h1 class="title has-text-centered"> Valoraciones pendientes</h1>
        <table class="table">
          <thead>
            <tr>
              <th> Afortunad@ </th>
              <th> Local  </th>
              <th> Fecha </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody>
            <% @pending_valuations.each do |valuation|%>
              <% @disabled = (valuation.fecha >= @current_date)%>
            <tr>
              <td> <%= valuation.nombre %></td>
              <td> <%= valuation.local.nombre %></td>
              <td> <%= valuation.fecha %></td>
              <td> 
                <button class="button is-primary" <%if @disabled%> disabled <% end %>>
                  <%= link_to_unless @disabled, 'Dejar valoración', edit_local_valoracione_path(valuation.local.id, valuation.id), class: "button is-primary"%>
                </button>
                <button class="button is-danger" <% if @disabled %> disabled <% end %>>
                  <%= link_to_unless @disabled, "Cita no realizada", local_valoracione_path(valuation.local.id, valuation.id), class: "button is-danger",
                  method: :delete, data: { confirm: "¿Estas seguro?"}%>
                </button>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box">
      <div class="content">
      <h1 class="title has-text-centered"> Solicitudes de match</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Persona</th>
            <th>Aceptar</th>
            <th>Rechazar</th>
          </tr>
        </thead>
        <tbody>
          <% @match_nuevos.each do |match| %>
            <% @persona = User.find(match.solicitante_id) %>
            <tr>
              <td><%=@persona.nombre%></td>
              <td><%= link_to 'Aceptar', perfil_accept_match_path(@user.id, match.id, aceptar: true), method: :patch, class: "button is-success"%></td>
              <td><%= link_to 'Rechazar', perfil_accept_match_path(@user.id, match.id, aceptar: false), method: :patch , class: "button is-danger"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>