<!DOCTYPE html>
<html>
<head>
  <title>Match and Meat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered"> Locales </h1>
      <h2 class="subtitle has-text-centered"> En esta secci칩n puedes ver todos los locales que nuestra aplicaci칩n tiene disponible para tus citas</h2>
    </div>
  </div>
</section>
<nav class="panel">
  <%= form_tag local_index_path, :method => 'get' do %>
  <p class="panel-heading">
      Buscador de locales:
    </p>
    <div class="panel-block">

      <%= text_field_tag :search, params[:search], class: "input" %>
      <%= submit_tag "Search", :name => nil, class: "button is-link" %>
    </div>
  <% end %>
  </form>
</nav>
<section class="section">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <% @locales.each do |local|%>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= local.nombre %></strong> <small><%= local.commune.nombre %></small>
                <br>
                <%= local.descripcion %>
              </p>
            </div>
            <div class="buttons">
              <%= link_to "M치s informaci칩n", local_path(local.id) , class: "button is-link"%>
            </div>
          </div>
        </article>
      </div>
      <% end %>
    </div>
    <div class="column"></div>
  </div>
</section>

</body>