<h1>Form registro nuevo local</h1>
<p>Ingrese los datos de su local:</p>

<%= form_with(model: @local, url: local_index_path, method: :post) do |form| %>
    <div class='field'>
        <%= form.label :nombre %>
        <%= form.text_field :nombre %>
    </div>
    
    <div class='field'>
        <%= form.label :comuna %>
        <%= form.select :nombre_comuna, @lista_comunas %> 
    </div>

    <div class='field'>
        <%= form.label :descripcion %>
        <%= form.text_area :descripcion %> 
    </div>
    <p></p>
    <div class='actions'>
        <%= form.submit "Crear Local"%>
    </div>
<%end%>