<%= link_to 'Volver', local_index_path%>
<h1>
Perfil de <%=@local.nombre %>
</h1>

<% if user_signed_in? and current_user.id == @local.user_id%>
    <p align='right'><%= link_to 'Editar', edit_local_path(@local.id) %> </p>
<% end%>

<h2>Mis datos </h2>
<p><strong> Local de: </strong> <%= @local.user.nombre %> </p>
<p><strong> Puntuacion: </strong> <%= @promedio %> 
<%if @cantidad_valoraciones == 1 %>
  de <%= @cantidad_valoraciones %> valoracion
<%elsif @cantidad_valoraciones != 0%>
  de <%= @cantidad_valoraciones %> valoraciones
<% end %></p>
<p><strong> Mi descripcion: </strong><%= @local.descripcion %></p>
<p>    </p>
<p><strong> Especialidad de la casa: </strong></p>
<table>
  <thead>
    <tr>
      <th>Plato</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.nombre %></td>
        <td><%= menu.descripcion %></td>
        <td><%= menu.precio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2> Comentarios </h2>

<% @comentarios.each do |comentario|%>
    <p><strong>><%= comentario.user.nombre %> </strong> (<i><%= comentario.created_at.strftime("%d-%m-%Y")%></i> a las 
    <i><%= comentario.created_at.strftime("%H:%M")%></i>): <%= comentario.contenido %></p>
    <% if user_signed_in? and current_user.id == comentario.user_id%>
        <%= link_to 'Eliminar Comentario', local_comentario_path(@local.id, comentario.id), method: :delete, alert: '¿Estás seguro?'%>
    <%end%>
<%end%>