<% local = Local.find_by('id = ?', params[:id]) %>
<h1>
Perfil de <%=  local.nombre %>
<% unless local.aceptado %>
    (Pendiente)
<% end %>
</h1>
<% if current_user and current_user.id ==  local.idusuario%>
    <p align='right'><%= link_to 'Editar', local_edit_path(params[:id]) %> </p>
<% end%>
<strong>Mis datos. </strong>
<p><strong> Local de:</strong> 
<%= User.find_by('id = ?', local.idusuario).nombre %> </p>
<p><strong> Mi descripcion: </strong>
<%= local.descripcion %> </p>

<%if current_user and current_user.id != local.idusuario%>
    <%= link_to 'Dejar Comentario'%>
<%end%>