<<<<<<< HEAD
<script>

  var marker;

  function initMap() {
    var myLatLng = {lat: -40.574598, lng:  -73.170117};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: myLatLng
    });

    var contentString = '<div id="content">'+
    '<div id="siteNotice">'+
    '</div>'+
    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
    '<div id="bodyContent">'+
    '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
    'sandstone rock formation in the southern part of the '+
    'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
    'south west of the nearest large town, Alice Springs; 450&#160;km '+
    '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
    'features of the Uluru - Kata Tjuta National Park. Uluru is '+
    'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
    'Aboriginal people of the area. It has many springs, waterholes, '+
    'rock caves and ancient paintings. Uluru is listed as a World '+
    'Heritage Site.</p>'+
    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
    'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
    '(last visited June 22, 2009).</p>'+
    '</div>'+
    '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });  

    marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      title: 'Hello World!'
    });
    marker.addListener('click', function(){
      infowindow.open(map, marker);
    });

    marker.addListener('mouseover', toggleBounce);
  }

  function toggleBounce() {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsShmfQR57ZbpPbdBYV0yUiG9NfaAE1q8&callback=initMap">
</script>



=======
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
>>>>>>> develop

<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered"> <%= @local.nombre %></h1>
      <h2 class="subtitle has-text-centered"> <%= @local.descripcion %></h2>
      <h2 class="subtitle has-text-centered"> Comuna: <%= @local.commune.nombre %><h2>
      <h3 class="subtitle has-text-centered"> Puntuación: <%= @promedio %>
        <%if @cantidad_valoraciones == 1 %>
          de <%= @cantidad_valoraciones %> valoracion
        <%elsif @cantidad_valoraciones != 0%>
          de <%= @cantidad_valoraciones %> valoraciones
        <% end %></p></h3>
      <div class="buttons is-centered">
        <%= link_to 'Volver', local_index_path, class: "button is-link is-rounded"%>
        <% if user_signed_in? and current_user.id == @local.user_id%>
          <%= link_to 'Editar', edit_local_path(@local.id), class: "button is-primary is-rounded"%>
        <% end%>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="notification is-fluid is-danger">
  <h1 class="title has-text-centered"> Imágenes </h1>
</div>

<div class="columns">
<div class="column"></div>
<div class="column is-6">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <figure class="image is-5by3">
          <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
      </div>

      <div class="item">
        <figure class="image is-5by3">
          <img src="https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
      </div>
    
      <div class="item">
        <figure class="image is-5by3">
          <img src="https://images.pexels.com/photos/1449775/pexels-photo-1449775.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </figure>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="column"></div>
</div>
</section>

<section class="section">
<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds">
    <div class="box">
    <h1 class="title has-text-centered"> Menus ofrecidos </h1>
      <div class="media-content">
        <div class="content">
          <table class="table">
            <thead>
              <tr>
                <th>Menú</th>
                <th>Descripción</th>
                <th>Precio</th>
              </tr>
            </thead> 
            <tbody>
              <% @menus.each do |menu| %>
                <tr>
                  <td><%= menu.nombre %></td>
                  <td><%= menu.descripcion%></td>
                  <td>$<%= menu.precio%></td>
                </tr>
              <% end %>
            </tbody> 
          </table> 

        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>
</section>

<section class="section">
  <div class="notification is-fluid is-danger">
    <h1 class="title has-text-centered"> Comentarios </h1>
    <div class="buttons is-centered">
      <% if user_signed_in? and current_user.id != @local.user_id %>
        <%=link_to "Nuevo Comentario", new_local_comentario_path(@local.id), class: "button is-primary is-rounded"%>
      <% end %>
    </div>
  </div>
  <div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds">
      <% @comentarios.each do |comentario|%>
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= comentario.user.nombre %></strong> 
                <small><i><%= comentario.created_at.strftime("%d-%m-%Y")%></i> a las <i><%= comentario.created_at.strftime("%H:%M")%></i></small>
                <br>
                <%= comentario.contenido %>
              </p>
            </div>
            <div class="buttons">
            <% if user_signed_in? and current_user.id == comentario.user_id%>
              <%= link_to 'Eliminar Comentario', local_comentario_path(@local.id, comentario.id), method: :delete, class: "button is-danger"%>
            <% end %>
            </div>
          </div>
        </article>
      </div>
      <% end %>
    </div>
    <div class="column"></div>
  </div>

<div class="columns">
  <div class="column is-two-thirds">
    <div id="map" style="width:40%;height:350px;display:block;margin:auto;"></div>
  </div>
  <div class="column">
  </div>
</div>

</section>

