<h1>Editar Menu</h1>

<%= form_with(model: @menu, url: menu_path(@menu.id), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :plato %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <%= form.hidden_field :idlocal, :value => params[:idlocal]%>
<% end %>

<%= link_to 'Back', local_edit_path(params[:idlocal]) %> 