<div class="container">
<h1 class="title is-5 has-text-white">Comentarios</h1>

<table class="table">
<thead>
    <tr>
    <th>Usuario</th>
    <th>Local</th>
    <th>Contenido</th>
    <th colspan="3"> Acciones </th>
    </tr>
</thead>

<tbody>
    <% @comentarios.each do |comentario| %>
    <tr>
        <td><%= comentario.user.nombre %></td>
        <td><%= comentario.local.nombre %></td>
        <td><%= comentario.contenido %></td>
        <td><%= link_to 'Eliminar comentario', comentario_path(comentario.id, :admin => true),  method: :delete, alert: '¿Estas seguro?' %></td>
    </tr>
    <% end %>
</tbody>
</table>

<br>
<%= link_to 'Volver al Panel', admin_path%>
</div>