<h1>Nuevo Comentario</h1>

<%= form_with(model: @comentario, url: comentarios_path, method: :post) do |form| %>
<div class="field">
    <%= form.label :contenido %>
    <%= form.text_area :contenido %>
</div>

<%= form.hidden_field :idlocal, :value => @id_local%>

<div class="actions">
    <%= form.submit 'Dejar Comentario'%>
</div>
<% end %>

<%= link_to 'Volver', locales_path %> 