<h1>Dejar Valoración en <%= @local.nombre%></h1>

<%= form_with(model: @comentario, url: local_comentarios_path(@local.id, valuation_id: @valuation_id), method: :post) do |form| %>
<div class="field">
    <%= form.label "Comentario (Opcional)" %></br>
    <%= form.text_area :contenido %>
</div>

</br>
<div class="control">
    <%= form.label "Valoración (Obligatorio)"%>
    </br>
    <% [1, 2, 3, 4, 5].each do |i|%>
    <label class="radio">
        <%= i %>
        <%= form.radio_button(:valuation, i)%>
    </label>
    <% end %>
</div>

</br>
<div class="actions">
    <%= form.submit 'Dejar Valoración'%>
</div>
<% end %>

<%= link_to 'Volver', perfil_path(current_user.id) %>