<section class="section">
<div class="box">
<h1 class="title is-5 has-text-centered">Locales</h1>

<table class="table is-fullwidth is-striped">
<thead>
    <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Acciones</th>
    </tr>
</thead>

<tbody>
    <% @locales.each do |local| %>
    <tr>
        <td><%= local.nombre %></td>
        <td><%= local.descripcion %></td>
        <td><%= link_to 'Eliminar local', admin_delete_local_path(local.id, aceptado: "si"),  method: :delete, class: "button is-danger", data: { confirm:
        "¿Estás seguro?"} %>
        <%= link_to 'Ver local', local_path(local.id), class: "button is-primary"%></td>
    </tr>
    <% end %>
</tbody>
</table>

<%= link_to 'Volver al Panel', admin_path, class: "button is-link"%>
</div>
</section>