<!DOCTYPE html>
<html>
<head>
  <title>MatchMeat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Matchs</h1>
    </div>
  </div>
</section>

<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds">
    <div class="box" style="color: is-danger;">
      <div class="media-content">
        <div class="content">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Descripcion</th>
                <th>Gustos</th>
              </tr>
            </thead> 
            <tbody>
              <%@users.each do |usuario|%>
                <%unless usuario.id == @user.id %>
                  <tr>
                    <td><strong><%= usuario.nombre %></strong></td>
                    <td><%= usuario.edad %></td>
                    <td><%= usuario.descripcion %></td>
                    <td>
                      <ul>
                        <%usuario.interests.each do |interest|%>
                          <li><%= interest.nombre %></li>
                        <% end %>
                      </ul>
                    </td>

                  </tr>
                <% end %>
              <% end %>
            </tbody> 
          </table> 

        </div>
      </div>
    </div>
  </div>
  <div class="column"></div>
</div>

<div style='width: 400px; margin-left: 415px; .pagination-ellipsis color:  white'>
  <%= will_paginate @users, renderer: BulmaPagination::Rails, class: 'is-centered' %>
</div>

</body>
</html>
