<!DOCTYPE html>
<html>
  <head>
    <title>MatchMeat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style="text-align:center"> Match & Meat </h1>
  <% if user_signed_in? %>
    <p style="text-align:right"> Hola, <%= current_user.nombre %>   <%= link_to '(Cerrar Sesion)', destroy_user_session_path, method: :delete %> </p>
  <% end %>
    <hr>
    <table style="table-layout: fixed; width: 100%">
        <th>
            <td> <%= link_to 'Inicio', root_path%> </td>
            <td> Locales </td>
            <td> Match </td>
            <td> Mi Perfil </td>
            <% unless user_signed_in? %>
                <td> <%= link_to 'Iniciar Sesion', new_user_session_path %></td>
            <% end %>
            <% unless user_signed_in? %>
                <td> <%= link_to 'Registrarse', new_user_registration_path %></td>
            <%end%>
            <% if user_signed_in? and current_user.admin%>
                <td> <%= link_to 'Administrar', administrar_path %></td>
            <%end%>
        </th>
    </table>
    <hr>

    <%if not current_user or not current_user.admin?%>
        <h1 style="text-align:center"> ACCESO DENEGADO </h1>
    <%else%>
        <%= yield %>
    <%end%>
  </body>
</html>
