<!DOCTYPE html>
<html>
<head>
    <title>MatchMeat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <section class="hero is-fullheight has-bg-img has-text.white">
      <p id="notice"><%= notice %></p>
      <%= yield %>
  </section>
</body>
</html>